*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
  }


.forecastData{
    background-color: aqua;
    padding: 10px;
    margin-right:10px;
    border: 1px red solid;
   
    
}

.realtimeweather{
    background-color: aquamarine;
    padding: 10px;
    


}